<html>
<head>
	<title>Properties List</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/properties.css">
</head>
<body style="padding-left: 10%;padding-right:5%;">
<% include partials/sidebar.ejs %>
<div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
<% for(var i=0;i< row.length; i++){ %> 
<div class="card">
  <div class="cardImg">
    <!-- <span class="circle">27<br/>mar</span>
    <span class="cardImgFooter">photos</span> -->
  </div>
  <div class="cardText">
    <span class="title"><%= row[i].site_name %></span>
    <span class="subtitle"><%= row[i].location %></span>
    <p class="cardDescription">
      <%= row[i].house_model_info %><br/>
      <%= row[i].house_unit_info %>
      <br>
      <a class="cardReadMore" href="#">View detail<img src="https://img.icons8.com/android/12/ffffff/play.png"></a>
    </p>
    
    <div class="cardFooter">
      <span class="timeAgo">
        <img src="https://img.icons8.com/android/14/000000/clock.png">
        <%= row[i].created_on %></span>
      <span class="comments">
        <img src="https://img.icons8.com/android/14/646464/speech-bubble.png">
        39 comments</span>
    </div>
  </div>
</div>
<% } %>
</div>
</body>
 <script type="text/javascript" src="/views/properties.js"></script>
</html>